<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    {{#each productos}}
      <tr>
        <th scope="row">{{id}}</th>
        <td scope="row">{{title}}</td>
        <td scope="row">{{price}}</td>
        <td scope="row"><img
            src="{{thumbnail}}"
            alt="{{title}}"
            height="30px"
          />
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<form action="/" method="get">
  <button type="submit" class="btn btn-dark">Inicio</button>
</form>