<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <% productos.forEach(function(p) { %>
    <tr>
      <th scope="row"><%= p.id %></th>
      <td scope="row"><%= p.title %></td>
      <td scope="row"><%= p.price %></td>
      <td scope="row">
        <img src="<%= p.thumbnail %>" alt="<%= p.title %>" height="30px" />
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
